@import './scss/common.scss';
@import './icons.scss';
a {
  color: rgb(213, 218, 218);
}
.page-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
h2  {
  margin: 5px auto;
}

.info-form{
  .mu-form-item{
    .mu-form-item-label{
      font-size: 12px !important;
    }
  }
  .btn-box{
    .mu-form-item-content{
      justify-content: center;
    }
  }
}
.sk-tags{
  .mu-select-action{
    display: none;
  }
}